header {
  background-color: #313643;
  padding: 15px;
}

header a {
  margin: 0 10px 0 10px;
}

main {
  height: 450px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 50px;
}

main p {
  font-size: 25px;
}

.card {
  border: none;
  margin-top: 50px;
}

.card-body {
  background-color: #EEEEEE;
}

.bg-fundo {
  background-image: url(/assets/images/bg-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  height: 250px;


}

.services h1 {
  font-size: 50px;
  color: #EEEEEE;
}

.contact {
  margin-top: 50px;
  height: 500px;
}

.bg-opacity-50 {
  opacity: 70%;
}